<app-contact-us></app-contact-us>
<div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">About Us</h5>
        <p class="card-text">Welcome to The Coffee Shop <br> We are dedicated to providing you with the best coffee experience.
           <br> Our coffee beans are sourced from around the world and freshly roasted to perfection.
           <br> Whether you're a coffee connoisseur or just looking for a delicious cup to start your day, we've got you covered.</div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">for more info</h5>
        <p class="card-text">        <p>123 Main Street, City, State ZIP</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: info@mycoffeeshop.com</p>
      </div>
    </div>
  </div>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-text">
        “ May your coffee be strong and your Monday be short.” 
      </span>
    </div>
  </nav>
