.card-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 600px; 
  max-width: 100%;
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #5c5858;
  border-radius: 25px;
background: rgba(133, 116, 116, 0.16);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.4px);
-webkit-backdrop-filter: blur(11.4px);
border: 1px solid rgba(133, 116, 116, 1);
  text-align: center; 
}


.profile-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.section-heading {
  margin-top: 0;
}

.user-details-container,
.user-orders-container,
.user-cart-container {
  margin-bottom: 20px;
}

.orders-list,
.cart-items-list {
  list-style-type: none;
  padding: 0;
}

.order-item,
.cart-item {
  margin-bottom: 5px;
}

.no-orders-message,
.empty-cart-message {
  margin-top: 10px;
  text-align: center;
  color: #888;
}

.user-details-container,
.user-orders-container,
.user-cart-container {
  margin-bottom: 20px; 
}
