<body>

    <app-product-category></app-product-category>
  <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 100%"></div>
  </div>
  <footer>

    <div class="card mb-3">
      <div class="row g-0">

        <div class="col-md-4">
          <img src="../../assets/coffee shop logo.png" class="img-fluid rounded-start" alt="the coffee shop">
        </div>
        <div class="col-md-8">
          <div class="card-body">
           <app-contact-us></app-contact-us>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 100%"></div>
  </div>

</body>
